/* plan:
root
general
header
main studio
main portfolio
footer
visually-hidden */

:root {
  --primery-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --accent-secondary-color: #ffffff;
  --logo-first-part: #2196f3;
  --header-logo-second-part: #000000;
  --background: #ffffff;
  --background-hero: #2f303a;
  --background-team: #f5f4fa;
  --backgound-footer: #2f303a;
  --footer-logo-second-part: #ffffff;
  --footer-contscts: rgba(255, 255, 255, 0.6);
  --background-filter: #f5f4fa;
  --border: #eeeeee;
  --line: #ececec;
  --icon-primery-color: #afb1b8;
  --duration: 250ms;
  --function: cubic-bezier(0.4, 0, 0.2, 1);
  --modal-button-form-background: #188ce8;
}

/* general */
.body {
  background-color: var(--background);
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.image {
  display: block;
}

/* header */

.header {
  border-bottom: 1px solid var(--line);
  height: 80px;
}

.header__container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

/* logo */
.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header__logo {
  margin-right: 93px;
  color: var(--header-logo-second-part);
}

.logo__part {
  color: var(--logo-first-part);
}

/* navigation */
.site-nav__list {
  display: flex;
}

.site-nav__link {
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  position: relative;
  color: var(--accent-color);
}

.site-nav__link--current::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav__item:not(:first-child) {
  margin-left: 50px;
}

/* contacts */

.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-list__item:nth-child(1) {
  margin-right: 30px;
}

.contacts-list__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}

.contacts-list__link:hover,
.contacts-list__link:focus {
  color: var(--accent-color);
}

.contacts-list__icon {
  margin-right: 10px;
  fill: var(--icon-primery-color);
  transition-property: fill;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}

.contacts-list__link:hover .contacts-list__icon,
.contacts-list__link:focus .contacts-list__icon {
  fill: var(--accent-color);
}

/* main studio*/
/* hero */
.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--background-hero);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../image/bghero.jpg");
  background-repeat: no-repeat;
  max-width: 1600px;
  background-position: 50% 50%;
  background-size: cover;
}

.hero__container {
  text-align: center;
  padding-right: 252px;
  padding-left: 252px;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--accent-secondary-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 10px 32px;
  min-width: 200px;

  background-color: var(--accent-color);
  color: var(--accent-secondary-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
}

/*modal in hero*/

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  transition-property: opacity, visibility;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}

.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop--hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--background);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__close-icon {
  fill: var(--secondary-text-color);
}

.modal__close-icon:hover,
.modal__close-icon:focus,
.modal__close-btn:hover .modal__close-icon,
.modal__close-btn:focus .modal__close-icon {
  fill: var(--accent-color);
  transition: fill var(--duration) var(--function);
}

/* forms */

.order-form__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 0px;
  margin-bottom: 12px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primery-text-color);
  margin-bottom: 4px;
}

.form-field__container {
  position: relative;
}

.form-field__input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  padding: 12px;
  padding-left: 42px;

  cursor: pointer;
  outline: none;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-field__input:focus {
  border-color: var(--accent-color);
  transition: border-color var(--duration) var(--function);
}

.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.form-field__input:focus + .form-field__icon {
  fill: var(--accent-color);
  transition: fill var(--duration) var(--function);
}

.form-field__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  padding: 16px;

  height: 120px;
  resize: none;

  cursor: pointer;
  outline: none;
}

.form-field__textarea:focus {
  border-color: var(--accent-color);
  transition: border-color var(--duration) var(--function);
}

.form-field__textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 0px;
}

.checkbox-container__label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.checkbox-container__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-container__icon {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--secondary-text-color);
  border-radius: 2px;
  fill: var(--accent-secondary-color);
  transition-property: fill, background-color, border-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}

.checkbox-container__input:focus + .checkbox-container__icon {
  border-color: var(--accent-color);
}

.checkbox-container__input:checked + .checkbox-container__icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  border: 0px solid transparent;
}

.checkbox-container__link {
  color: var(--accent-color);
  text-decoration: underline;
}

.submit-container {
  margin-top: 30px;
  text-align: center;
}

.submit-container__button {
  font-size: 16px;
  line-height: 1.87;
  color: var(--accent-secondary-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 55px;
  cursor: pointer;
}

.submit-container__button:hover,
.submit-container__button:focus {
  background: var(--modal-button-form-background);
  transition: background var(--duration) var(--function);
}

/* values */
.values {
  padding-top: 94px;
  padding-bottom: 94px;
}

.values__list {
  display: flex;
  flex-wrap: wrap;
}

.values__item {
  width: 270px;
}

.values__item::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.values__item:nth-child(1)::before {
  background-image: url(../image/values1.svg);
}

.values__item:nth-child(2)::before {
  background-image: url(../image/values2.svg);
}

.values__item:nth-child(3)::before {
  background-image: url(../image/values3.svg);
}

.values__item:nth-child(4)::before {
  background-image: url(../image/values4.svg);
}

.values__item:not(:first-child) {
  margin-left: 30px;
}

.values__name {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
}

.values__description {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}

/* works */
.works {
  padding-bottom: 94px;
}

.works__list {
  display: flex;
  justify-content: space-between;
}

.works__item {
  position: relative;
  z-index: -1;
}

.works__label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 0px;
  padding: 27px 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--accent-secondary-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
}

/* team*/
.team {
  background-color: var(--background-team);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
}
.team__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  padding-bottom: 30px;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__item:first-child {
  margin-left: 0px;
}

.team__name {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__position {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

/* social networks */
.social-list {
  list-style: none;
  margin: 0px;
  padding-inline-start: 0px;
  padding: 0px 32px;
  display: flex;
  justify-content: space-around;
}

.social-list__item {
  display: flex;
  margin-right: 10px;
  border-radius: 50%;
}

.social-list__item:last-child {
  margin-right: 0px;
}

.social-list__link {
  text-decoration: none;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}

.social-list__icon {
  fill: var(--icon-primery-color);
  transition-property: fill;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--accent-secondary-color);
}

/* Clients*/
.client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client__list {
  display: flex;
  margin-left: -30px;
}

.client__link {
  text-decoration: none;
  margin-left: 30px;
  border: 1px solid var(--icon-primery-color);
  border-radius: 4px;
  width: 170px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: border;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}

.client__icon {
  fill: var(--icon-primery-color);
  transition-property: fill;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}

.client__link:hover,
.client__link:focus {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.client__link:hover .client__icon,
.client__link:focus .client__icon {
  fill: var(--accent-color);
}

/* mail portfolio */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* filter */
.buttons-list {
  list-style: none;
  padding: 0;
  margin: 0px 0px 50px 0px;
  display: flex;
  justify-content: center;
}

.buttons-list__item {
  margin-left: 8px;
}

.buttons-list__item:first-child {
  margin-left: 0px;
}

.buttons-list__button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 6px 22px;

  background-color: var(--background-filter);
  color: var(--secondary-text-color);
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}

.buttons-list__button:hover,
.buttons-list__button:focus {
  background-color: var(--accent-color);
  color: var(--accent-secondary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* production */
.production-list {
  display: flex;
  flex-wrap: wrap;
}
.production-list__item {
  width: 370px;
  margin-bottom: 30px;
  margin-right: 30px;
  transition-property: box-shadow;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}

.production-list__item:nth-child(3n) {
  margin-right: 0px;
}

.production-list__item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.production-list__item:hover,
.production-list__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.production-list__link {
  text-decoration: none;
}

.overlay {
  width: 370px;
  height: 294px;
  position: relative;
  overflow: hidden;
}

.overlay__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0px;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--accent-secondary-color);
}

.production-list__link:hover .overlay__description,
.production-list__link:focus .overlay__description {
  transform: translatey(0);
}

.production__stand {
  padding: 20px 24px;
  border: 1px solid var(--border);
  border-top: none;
}

.production__name {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.production__category {
  margin-top: 0;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

/* footer */

.footer {
  background-color: var(--backgound-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer-column {
  margin-right: 70px;
}

.footer__logo {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--footer-logo-second-part);
}

.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address__office {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--footer-logo-second-part);
}

.address__link {
  text-decoration: none;
  margin-top: 9px;
  margin-bottom: 0;
  color: var(--footer-contscts);
}

.footer__connect {
  margin-right: 93px;
}

.connect__title,
.subscribe__title {
  margin-top: 0;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-secondary-color);
}

.connect__social-list {
  margin-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
}

.social-list__item--with-bg {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list__item--with-bg:last-child {
  margin-right: 0px;
}

.social-list__icon--white {
  fill: var(--accent-secondary-color);
}

.subscribe__container {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.subscribe__input {
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: var(--backgound-footer);
  border-radius: 4px;
  color: var(--accent-secondary-color);

  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 15px;

  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.subscribe__button {
  display: flex;
  align-items: center;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.06em;

  color: var(--accent-secondary-color);
  fill: var(--accent-secondary-color);

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  padding: 10px 28px;
  margin-left: 12px;
  cursor: pointer;
}

.subscribe__icon {
  margin-left: 10px;
}

/* visually-hidden  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
