/* footer */

.footer {
  background-color: $backgound-footer;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer-column {
  margin-right: 70px;
}

.footer__logo {
  margin-top: 0;
  margin-bottom: 20px;
  color: $footer-logo-second-part;
}

.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address__office {
  margin-top: 0;
  margin-bottom: 0;
  color: $footer-logo-second-part;
}

.address__link {
  text-decoration: none;
  margin-top: 9px;
  margin-bottom: 0;
  color: $footer-contscts;
}
