/* logo */
.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header__logo {
  margin-right: 93px;
  color: $header-logo-second-part;
}

.logo__part {
  color: $logo-first-part;
}
