/*modal in hero*/

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  transition-property: opacity, visibility;
  transition-duration: $duration;
  transition-timing-function: $function;
}

.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop--hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: $background;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: transform;
  transition-duration: $duration;
  transition-timing-function: $function;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: $background;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__close-icon {
  fill: $secondary-text-color;
}

.modal__close-icon:hover,
.modal__close-icon:focus,
.modal__close-btn:hover .modal__close-icon,
.modal__close-btn:focus .modal__close-icon {
  fill: $accent-color;
  transition: fill $duration $function;
}

/* forms */

.order-form__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
  margin-top: 0px;
  margin-bottom: 12px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $primery-text-color;
  margin-bottom: 4px;
}

.form-field__container {
  position: relative;
}

.form-field__input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  padding: 12px;
  padding-left: 42px;

  cursor: pointer;
  outline: none;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-field__input:focus {
  border-color: $accent-color;
  transition: border-color $duration $function;
}

.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.form-field__input:focus + .form-field__icon {
  fill: $accent-color;
  transition: fill $duration $function;
}

.form-field__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  padding: 16px;

  height: 120px;
  resize: none;

  cursor: pointer;
  outline: none;
}

.form-field__textarea:focus {
  border-color: $accent-color;
  transition: border-color $duration $function;
}

.form-field__textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 0px;
}

.checkbox-container__label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.checkbox-container__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-container__icon {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid $secondary-text-color;
  border-radius: 2px;
  fill: $accent-secondary-color;
  transition-property: fill, background-color, border-color;
  transition-duration: $duration;
  transition-timing-function: $function;
}

.checkbox-container__input:focus + .checkbox-container__icon {
  border-color: $accent-color;
}

.checkbox-container__input:checked + .checkbox-container__icon {
  background-color: $accent-color;
  border-color: $accent-color;
  border: 0px solid transparent;
}

.checkbox-container__link {
  color: $accent-color;
  text-decoration: underline;
}

.submit-container {
  margin-top: 30px;
  text-align: center;
}

.submit-container__button {
  font-size: 16px;
  line-height: 1.87;
  color: $accent-secondary-color;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 55px;
  cursor: pointer;
}

.submit-container__button:hover,
.submit-container__button:focus {
  background: $modal-button-form-background;
  transition: background $duration $function;
}
