$primery-text-color: #757575;
$secondary-text-color: #212121;
$accent-color: #2196f3;
$accent-secondary-color: #ffffff;
$logo-first-part: #2196f3;
$header-logo-second-part: #000000;
$background: #ffffff;
$background-hero: #2f303a;
$background-team: #f5f4fa;
$backgound-footer: #2f303a;
$footer-logo-second-part: #ffffff;
$footer-contscts: rgba(255, 255, 255, 0.6);
$background-filter: #f5f4fa;
$border: #eeeeee;
$line: #ececec;
$icon-primery-color: #afb1b8;
$duration: 250ms;
$function: cubic-bezier(0.4, 0, 0.2, 1);
$modal-button-form-background: #188ce8;
